html {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: #363636;
  color: white;
}

#transliterator::placeholder {
  color: rgba(255, 255, 255, 0.5); /* White color with 50% opacity */
}

#copyBtn {
  transition: all 0.3s ease-in-out;
}

#copyBtn:hover {
  transform: scale(1.1);
  background-color: #181818;
}

#phonetic_option {
  transition: all 0.3s ease-in-out;
}

#phonetic_option:hover {
  background-color: #202020;
}
